body{
    background-color: white; /* sets the given color  of the body background*/
    color:whitesmoke;   /* sets the given color  of the text*/
    margin:0px 0px 0px 0px; /*sets the margin of html body part*/
}

header{    
    font-family: 'Anton', sans-serif;/*specifies the font of the text*/
    font-size:40px;/*specifies the size of the text*/
    color: #DD2C00;  /*specifies the color of the text*/  
    padding: 0px;  /*specifies the gapping with the header of the text*/
}

header > a{
    text-decoration: none; /*specifies the decoration style of the text*/
    color:#DD2C00;
}

nav{
    background-color:#e65100;
    font-family: 'Anton', sans-serif;    
    opacity:0.8; /*specifies the transparency */
    position:sticky;/*specifies the position of nav to always remain constant in the page*/
    top:0; /*specifies the position top in the page*/
}

nav ul{

    /*display:flex;*/  /*this sepecifies the layout flex*/
    /*justify-content: space-evenly; *//*specifies the spacing of the contnet */
    margin: 0px;
}

/*nav ul li{
    list-style:none;
    
}
*/
nav ul li a{
    text-decoration: none;
    color:whitesmoke;
    font-size: 20px;
    /*display:inline-block;*/
}

/*nav ul li a:hover{

    color:#010364;     
    letter-spacing: 5px;    
}*/